<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Travels</title>
    <style>
        .container{
            margin-top: 30px;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid black;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        h3{
            text-align: right;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col">Hello, {{loggedin.user_name}}</h1><br>
        <h3 class="col"><a href="/travel/create">Add Travel Plan</a> | <a href="/logout">Logout</a></h3>
    </div>
    <h4 class="my-3">Your Trip Schedules</h4>
    <table>
        <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Description</th>
            <th>Do you want to Leave?</th>
        </tr>
        {% for x in allTravel %}
            {% if x.creator.id == loggedin.id %}
        <tr>
            <td><a href="/travel/destination/{{x.id}}">{{x.destination}}</a></td>
            <td>{{x.start}}</td>
            <td>{{x.end}}</td>
            <td>{{x.desc}}</td>
            <td><a href="/travel/delete/{{x.id}}">Delete</a></td>
        </tr>
            {% endif %}
        {% endfor %}
        {% if travels %}
            {% for x in travels%}
        <tr>
            <td><a href="/travel/destination/{{x.id}}">{{x.destination}}</a></td>
            <td>{{x.start}}</td>
            <td>{{x.end}}</td>
            <td>{{x.desc}}</td>
            <td><a href="/leave/{{x.id}}">Leave</a></td>
        </tr>
            {% endfor %}
        {% endif %}
    </table>
    <h4 class="my-3">Other User's Travel Plans</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do you Want to Join?</th>
        </tr>
        {% for x in allTravel %}
            {% if x.creator.id != loggedin.id %}
        <tr>
            <td>{{x.creator.user_name}}</td>
            <td><a href="/travel/destination/{{x.id}}">{{x.destination}}</a></td>
            <td>{{x.start}}</td>
            <td>{{x.end}}</td>
            <td><a href="/join/{{x.id}}">Join</a></td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
</body>
</html>