<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Info</title>
    <style>
        li{
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <div class="container"><br>
        <h4><a href="/travel">Home</a> | <a href="/logout">Logout</a></h4>
        <h1 class="mt-5">{{travelinfo.destination}}</h1>
        <h2>Planned By: {{travelinfo.creator.user_name}}</h2>
        <h4>Travel Date From: {{travelinfo.start}}</h4>
        <h4>Travel Date To: {{travelinfo.end}}</h4>
        <h2>Description: {{travelinfo.desc}}</h2>
    </div><br>
    <div class="container">
        <h1>Other users' joining the trip:</h1>
        {% if others %}
            {% for other in others %}
                <h5><li>{{other.user_name}}</li></h5>
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>